DATABASE_URL="mongodb+srv://nikahbd:D6KWtcf2oNsX9yVX@cluster0.5gtpi.mongodb.net/nikahbd?retryWrites=true&w=majority"
PORT=5500
NODE_ENV=production
JWT_SECRET="your-new-secretjsdfjsdfjsdlfjlasdjf;lsaj;fdljsad;lfj;lsjfjfjsfjfsjfljflsjf"
JWT_EXPIRES_IN=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=shafiqul.islam25021998@gmail.com
EMAIL_PASS=qhrhsubxnlqgykqp



# cloudinary
CLOUDINARY_NAME=dlzbuti48
CLOUDINARY_API_KEY=786271785512651
CLOUDINARY_API_SECRET=ejFSjQwqTjOuPrTnjMrlugrIEnA

# Telegram Notification Setup
TELEGRAM_BOT_TOKEN=8896305334:AAF1dl3JkglOghKsooCgxj-gfAlGePfHakE
TELEGRAM_CHAT_ID=5912143939

